<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td bgcolor="#F7F7F7" align="center" style="padding: 20px;">
            <a href="http://harrys.com?utm_source=penpal&utm_medium=email&utm_campaign={{campaign.${name}}}{{campaign.${message_name}}}">
                <img src="https://shave-email.s3.amazonaws.com/package.jpg" width="93" height="142"
                     style="width:93px; height:141px; display:block;" alt="HARRY'S" border="0">
            </a>
        </td>
    </tr>
</table>