<table style="background-color: #DDE9EE" align="center" border="0" cellpadding="0" cellspacing="0"
       width="100%">
    <tr>
        <td align="center" style="padding: 40px 0 40px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="480"
                   class="responsive-table">
                <tr>
                    <td align="center" style="padding: 0 15px 0 15px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="480"
                               class="responsive-table">


                            <tr>
                                <td align="center" class="h2-save-order"
                                    style="font-size: 26px; line-height: 42px; letter-spacing: 0.25px; font-family: Futura, Trebuchet MS, Arial, sans-serif; color: #263645; font-weight:normal">
                                    This order could be $5 less
                                </td>
                            </tr>

                            <tr>
                                <td align="center" class="body-sign-up-description"
                                    style="font-size: 14px; line-height: 30px; letter-spacing: 0px; font-family: Verdana, Geneva, sans-serif; color: #666666; font-weight:normal; padding: 15px 40px 30px 40px">
                                    When a friend signs up for a trial, you'll both save $5 off your next order.
                                </td>
                            </tr>

                            <tr>
                                <td align="center" class="body-share-link-description"
                                    style="font-size: 14px; line-height: 30px; letter-spacing: 0px; font-family: Verdana, Geneva, sans-serif; color: #868686; font-weight:normal; border-radius: 6px; background-color: white; padding: 20px 0 20px 0">
                                    Share your invite link:
                                    <br>
                                    <a href="{{ site.data.shipment.merge_vars.incentive_code }}"
                                       style="color: #3CA6E0; text-decoration: none; padding-top: 15px">{{ site.data.shipment.merge_vars.incentive_code }}</a>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" class="body"
                                    style="font-size: 14px; line-height: 30px; letter-spacing: 0px; font-family: Verdana, Geneva, sans-serif; color: #263645; font-weight:normal; padding: 10px 0 0 0">
                                    <a href="{{ site.data.shipment.merge_vars.learn-more.info_url }}"
                                       style="color: #263645; text-decoration: underline; padding-top: 15px">Learn More</a>
                                </td>
                            </tr>


                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>